@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-color: black;
  background-image: url("./background2.png");
  background-position: center;
}
